<!-- templates/signup.html -->

{% extends "base.html" %}

{% block content %}
<style>
  body {color:white;}
</style>

<body>
<div class="m-3">
  <form method="POST" action="{{ url_for('auth.signup') }}">
    <div class="mb-3">
      <label for="emailInput" class="form-label">Email</label>
      <input type="email" class="form-control" id="emailInput" name="email">
    </div>

    <label for="riot" class="form-label">RiotID</label>
    <div class="input-group mb-3" id="riot">
      <input type="text" class="form-control" id="riotID" aria-label="RiotID" name="riotID">
      <span class="input-group-text">#</span>
      <input type="text" class="form-control" id="tagline" aria-label="Tagline" name="tagline">
    </div>
    
    <div class="mb-3">
      <label for="passwordInput1" class="form-label">Password</label>
      <input type="password" class="form-control" id="passwordInput1" name="password1">
    </div>

    <div class="mb-3">
      <label for="passwordInput2" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="passwordInput2" name="password2">
    </div>

    {% include "alert.html" %}

    <button type="submit" class="btn btn-primary mb-3">Sign Up</button>

    <div class="border-top">
      <small class="text-muted">
        Have an Account?
        <a class="ml-3" href="{{ url_for('auth.login') }}">Login</a>
      </small>
    </div>
  </form>
</div>

</body>
{% endblock %}