<!-- templates/tournaments/create.html -->


{% extends "base.html" %}

{% block content %}
<div class="m-3">
  <form method="POST" action="{{ url_for('tournament.create') }}">
    
    <!-- name -->
    <div class="mb-3">
      <label for="nameInput" class="form-label">Name</label>
      <input type="text" class="form-control" id="nameInput" name="name">
    </div>

    <!-- game type -->
    <div class="mb-3">
      <label for="gameTypeInput" class="form-label">Game Type</label>
      <select id="game_type_selection" name="game_type">
        <option value="single-elimination">Single Elimination</option>
        <option value="double-elimination">Double Elimination</option>
        <option value="round-robin">Round Robin</option>
      </select>
    </div>

    <!-- grand finals modifier -->
    <div class="mb-3">
      <label for="finalsModifierInput" class="form-label">Grand Finals Modifier</label>
      <input type="text" class="form-control" id="finalsModifierInput" name="grand_finals_modifier">
    </div>

    <!-- signup cap -->
    <div class="mb-3">
      <label for="signUpCapInput" class="form-label">Signup Cap</label>
      <input type="number" class="form-control" id="signUpCapInput" name="signup_cap">
    </div>

    <!-- start date -->
    <div class="mb-3">
      <label for="startDateInput" class="form-label">Start Time</label>
      <input type="date" class="form-control" id="startDateInput" name="start_date">
      <input type="time" class="form-control" id="startTimeInput" name="start_time">
    </div>

    <!-- hold third place match -->
    <div class="mb-3">
      <label for="thirdPlaceMatch" class="form-check-label">Third Place Match</label>
      <input type="checkbox" class="form-check-label" id="thirdPlaceMatch" name="third_place_match" selected>
    </div>

    <!-- show rounds -->
    <div class="mb-3">
      <label for="showRoundsInput" class="form-check-label">Show Rounds</label>
      <input type="checkbox" class="form-check-label" id="showRoundsInput" name="show_rounds" selected>
    </div>
    
    <!-- description -->
    <div class="mb-3">
      <label for="descriptionInput" class="form-label">Description</label>
      <input type="text" class="form-control" id="descriptionInput" name="description">
    </div>

    <!-- payment -->
    <div class="mb-3">
      <label for="paymentInput" class="form-check-label">Payment</label>
      <input type="checkbox" class="form-control-label" id="paymentInput" name="payment">
    </div>
    
    <!-- <div class="mb-3">
      <label for="passwordInput" class="form-label">Password</label>
      <input type="password" class="form-control" id="passwordInput" name="password">
    </div> -->

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-danger" role="alert">
        {{ messages[0] }}
      </div>
    {% endif %}
    {% endwith %}

    <button type="submit" class="btn btn-primary mb-3">Create</button>
  </form>
</div>
{% endblock %}
