<!-- templates/tournaments/tournaments.html -->


{% extends "base.html" %}

{% block content %}

<div class="tournaments m-3">
  <form class="input-group mb-3" method="POST" action="{{ url_for('tournament.search') }}">
    <span class="input-group-text" id="basic-addon1">Search</span>
    <input type="search" class="form-control" placeholder="Browse Tournaments" aria-label="Browse Tournaments" aria-describedby="basic-addon1" id="searchInput" name="search">
    <input type="submit" style="display: none"/>
  </form>

  {% if in_tournament %}
    <h1 class="mb-3">My Tournament</h1>
    
    <div class="col">
      <div class="card mb-3 h-100 position-relative">
        <div class="card-body">
          <h5 class="card-title">{{ my_tournament.name }}</h5>
        </div>
        <a href="{{ url_for('tournament.about', tournamentID=my_tournament.id) }}" class="stretched-link"></a>
      </div>
    </div>
  {% endif %}

  <h1 class="mb-3">Upcoming Tournaments</h1>

  <div class="row row-cols-1 row-cols-md-6 g-4 mb-3">
    {% for tournament in tournaments %}
      <div class="col">
        <div class="card mb-3 h-100 position-relative">
          <div class="card-body">
            <h5 class="card-title">{{ tournament.name }}</h5>
          </div>
          <a href="{{ url_for('tournament.about', tournamentID=tournament.id) }}" class="stretched-link"></a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<!-- Create Tournament Button -->
{% if current_user.is_authenticated %}
<div class="fixed-bottom m-3">
  <a class="btn btn-primary btn-lg float-end" href="{{ url_for('tournament.create') }}" role="button" width="40">New Tournament</a>
</div>
{% endif %}

{% endblock %}