<!-- templates/teams/about.html -->

{% extends "base.html" %}


{% block content %}
<style>
    body {color:white;}
</style>
<body>
<h1 style="text-align: center;">{{ team.name }}</h1>

<h4 style="text-align: center;">Members</h4>
<ul>
    {% for player in team.players %}
        <li style="text-align: center;">{{ player.riotID }} #{{ player.tagline }}</li>
    {% endfor %}
</ul>

<h4 style="text-align: center;">Joined Tournament(s)</h4>



<!-- Join Team Button -->
{% if current_user.is_authenticated %}
    {% if not on_team %}
        <form class="input-form fixed-bottom m-3" method="POST" action="{{ url_for('team.about', teamID=team.id) }}">
            <input class="btn btn-primary btn-lg float-end" role="button" width="40" type="submit" name="action" value="Join"></a>
        </div>
    {% endif %}

    {% if current_team %}
        <form class="input-form fixed-bottom m-3" method="POST" action="{{ url_for('team.about', teamID=team.id) }}">
            <input class="btn btn-primary btn-lg float-end" role="button" width="40" type="submit" name="action" value="Leave"></a>
        </div>
    {% endif %}
{% endif %}
</body>
{% endblock %}