<!-- templates/teams/teams.html -->


{% extends "base.html" %}

{% block content %}

<div class="teams m-3">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-danger" role="alert">
      {{ messages[0] }}
    </div>
  {% endif %}
  {% endwith %}

  <form class="input-group mb-3" method="POST" action="{{ url_for('team.search') }}">
    <span class="input-group-text" id="basic-addon1">Search</span>
    <input type="search" class="form-control" placeholder="Browse Teams" aria-label="Browse Teams" aria-describedby="basic-addon1" id="searchInput" name="search">
    <input type="submit" style="display: none"/>
  </form>

  {% if in_team %}
    <h1 class="mb-3">My Team</h1>

    <div class="col">
      <div class="card mb-3 h-100 position-relative bg-secondary text-white">

        <div class="card-body">
          <h5 class="card-title"><strong>{{ my_team.name }}</strong></h5>
          <!--<p>Joined Tournament ID: <span style="color:gold"> {{my_team.tournament_id}}</span> -->
        </div>
        <a href="{{ url_for('team.about', teamID=my_team.id) }}" class="stretched-link"></a>
      </div>
    </div>
  {% endif %}

  <h1 class="mb-3">All Teams</h1>

  <div class="row row-cols-1 row-cols-md-6 g-4 mb-3">
    {% include "teams/cards.html" %}
  </div>
</div>

<!-- Create Team Button -->
{% if current_user.is_authenticated %}
{% if not current_user.team_id %}
<div class="fixed-bottom m-3">
  <a class="btn btn-primary btn-lg float-end" href="{{ url_for('team.create') }}" role="button" width="40">New Team</a>
</div>
{% endif %}
{% endif %}

{% endblock %}