<!-- templates/teams/teams.html -->


{% extends "base.html" %}

{% block content %}

<div class="tournaments m-3">
  <form class="input-group mb-3" method="POST" action="{{ url_for('team.search') }}">
    <span class="input-group-text" id="basic-addon1">Search</span>
    <input type="search" class="form-control" placeholder="Browse Teams" aria-label="Browse Teams" aria-describedby="basic-addon1" id="searchInput" name="search">
    <input type="submit" style="display: none"/>
  </form>

  {% if in_team %}
    <h1 class="mb-3">My Team</h1>
    
    <div class="row row-cols-1 row-cols-md-6 g-4 mb-3">
        <div class="col">
          <div class="card mb-3 h-100 position-relative">

            <div class="card-body">
              <h5 class="card-title">{{ my_team.name }}</h5>
            </div>
            <a href="./{{ my_team.id }}" class="stretched-link"></a>
          </div>
        </div>
    </div>
  {% endif %}

  <h1 class="mb-3">All Teams</h1>

  <div class="row row-cols-1 row-cols-md-6 g-4 mb-3">
    {% for team in teams %}
      <div class="col">
        <div class="card mb-3 h-100 position-relative">

          <div class="card-body">
            <h5 class="card-title">{{ team.name }}</h5>
          </div>
          <a href="./{{ team.id }}" class="stretched-link"></a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<!-- Create Team Button -->
<div class="fixed-bottom m-3">
  <a class="btn btn-primary btn-lg float-end" href="{{ url_for('team.create') }}" role="button" width="40">New Team</a>
</div>
{% endblock %}