{% extends "user/base.html" %}
{% block content %}

<!-- Tournaments work in progress -->
<div class="tournaments m-3">
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Search</span>
    <input type="text" class="form-control" placeholder="Browse Tournaments" aria-label="Browse Tournaments" aria-describedby="basic-addon1">
  </div>

  <h1 class="mb-3">My Tournaments</h1>

  {% for tournament in tournaments %}
    <div class="card mb-3" style="width: 10vw;">
      <img src="{{ tournament.image.url }}" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ tournament.name }}</h5>
        <p class="card-text">{{ tournament.description }}</p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
  {% endfor %}

  <h1 class="mb-3">Upcoming Tournaments</h1>

  {% for tournament in tournaments %}
    <div class="card mb-3" style="width: 10vw;">
      <img src="{{ tournament.image.url }}" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ tournament.name }}</h5>
        <p class="card-text">{{ tournament.description }}</p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
  {% endfor %}
</div>

<a class="btn btn-primary mx-3" href="./create-tournament" role="button">New Tournament</a>

{% endblock content %}