{% extends "user/base.html" %}

{% block additional_styles %}
<style>
   body {
    background-image: url(images/base.jpg);
   }
</style>
{% endblock %}

{% block content %}
<body class="text-center">
  <br/><br/><br/>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1>GameRing</h1>

    {% if not user.is_authenticated %}
    <p>Are you Ready to Rumble?</p>
    <a href="{% url 'login' %}" class="btn btn-lg btn-primary">Login</a>
    {% endif %}

    {% if user.is_authenticated %}
    <p>Let's Rumble!</p>
    <a href="{% url 'tournaments' %}" class="btn btn-lg btn-primary">Tournaments</a>
    {% endif %}
  </div>
</body>

  <!-- <span class="align-middle">
    <main role="main" class="inner cover">
      <h1 class="cover-heading">GameRing</h1>
      <p class="lead">Ready to Rumble?</p>
      <p class="lead">
        <a href="/user/login" class="btn btn-lg btn-secondary">Ready to Rumble?</a>
      </p>
    </main>
  </span> -->
  <!-- <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
      </div>
    </header>
    
    <main role="main" class="inner cover">
      <h1 class="cover-heading">GameRing</h1>
      <p class="lead">Ready to Rumble?</p>
      <p class="lead">
        <a href="/user/login" class="btn btn-lg btn-secondary">Sign In</a>
      </p>
    </main>
  </div> -->

{% endblock content %}